body {
  background: linear-gradient(#fff, #4ac9fc);
  font-family: candara;
  margin: 5px;
}

.logo {
  width: 20%;
}

.left-content,
.right-content,
.main-content {
  display: inline-flex;
  flex-direction: row;
  margin: 4px;
}

.main-content {
  width: 50%;
  padding: 10px;
}

.l-img,
.r-img {
  width: 100%;
  height: 300px;
}

.d-block {
  margin: auto;
  width: 100%;
  height: auto;
}

.com6,
.com7,
.com8,
.com9 {
  box-shadow: 4px 2px #000000;
}

.col-6-img,
.col-7-img,
.col-8-img,
.col-9-img {
  width: 100%;
  height: 300px;
}
